<div class="container mt-5">
    <div class="row">|
        <div class="col-3"></div>
        <div class="col-6 shadow teclado bg-black text-white rounded">
            <h1 class="text-center my-4">Calculadora Angular</h1>
            <div class="border p-5 mx-3 mt-3 mb-4">
                <div>
                    <p>Operando A</p>
                    <input type="number" name="a">
                </div>
                <div class="mt-3">
                    <p>Operando b</p>
                    <input type="number" name="b">
                </div>
                <div class="my-4">
                    <button class="btn btn-outline-light">SUMAR</button>
                </div>
                <div>
                    <p>Resultado</p>
                    <input type="number" name="resultado">
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>